body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  // Prevent content from being covered by footer.
  padding-bottom: 4rem;

  // Lower the grid on large screens.
  @media (min-width: 768px) {
    .Grid {
      margin-top: 4rem;
    }
  }
}
