body {
  margin: 0;
  padding: 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .appGrid {
    // Lower the grid on large screens.
    margin-top: 4rem !important;
  }
}
