.Explorer {
  margin-top: 1rem;
}

.tabPane {
  border-top: 1px solid #d4d4d5 !important;
  border-top-left-radius: .28571429rem !important;
  border-top-right-radius: .28571429rem !important;
}

.profileLink {
  color: #000;
  font-weight: bold;

  &:hover {
    color: rgba(0, 0, 0, 0.95)
  }
}