.Menu {
  // Override some Semantic UI styles.
  border-radius: 0 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;

  .Logo {
    height: 1rem;
    margin-right: 10px;
  }
}


